$primary-color: #1c47b3;
$secondary-color: #2a304b;
$text-grey:#8a8e9e;

$black: black;
$gray: gray;
$blue: #4668c0;
$primary-blue: $primary-color;
$white: #ffffff;
$page-bg: #f6f7fb;


a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
  }